In [115]:
import pandas as pd
import numpy as np
import os

# read data

In [116]:
os.getcwd()

'/home/onyxia/work/scoring_SDA'

In [117]:

# folder path
dir_path = r'/home/onyxia/work/scoring_SDA/data/'

# list to store files
res = []

# Iterate directory
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        res.append(path)
print(res)

['PopulationEstimates.xls', 'Education.xls', 'PovertyEstimates.xls', 'US_County_Level_Presidential_Results_08-16.csv', '2020_US_County_Level_Presidential_Results.csv', 'Unemployment.xls']

# Explore files

In [118]:
def check_nan(data):

    nb_lines = data.shape[0]
    nb_columns = data.shape[1]

    print("=== Check NAN")
    nb_nan = data.isna().sum() / nb_lines
    part_nan = nb_nan[nb_nan>0]

    if not part_nan.empty:
        part_nan = part_nan.sort_values(ascending=False)
        nb_cols_nan = len(part_nan.keys())
        print(f"... nb of columns with NAN {nb_cols_nan} out of {nb_columns}")
        for index, value in part_nan.items():
            print(f"{index}... {value:.2%}")

def check_duplicates(data, keys):
    df_dup = data[data.duplicated(subset=keys, keep=False)]
    display(df_dup.head())

In [119]:
for file in res:
    if file.endswith(".csv"):
        t = pd.read_csv(dir_path + file)
        print(f"\n========== File name {file}\n")
        display(t.head())
        print(t.columns)
        check_nan(t)

    elif file.endswith(".xls"):
        # read file
        with open(dir_path + file, mode="rb") as excel_file:
            _excel_file = pd.read_excel(excel_file,)
        print(f"\n========== File name {file}\n")
        print(_excel_file.columns[0])
        _excel_file.set_index(_excel_file.columns[0], inplace=True)
        # drop nan
        _excel_file = _excel_file.dropna(how="all")
        # set header
        header_row = _excel_file.iloc[0]
        df = pd.DataFrame(_excel_file.values[1:], columns=header_row)
        check_nan(df)
        display(df.head())
        print("======== Check NAN")
        

    else:
        print("Check files in data folder")

========== File name PopulationEstimates.xls

Population estimates for the U.S., States, and counties, 2010-19 (see the second tab in this workbook for variable name descriptions)
=== Check NAN
... nb of columns with NAN 150 out of 164
Economic_typology_2015... 4.00%
R_NET_MIG_2019... 2.44%
R_death_2014... 2.44%
R_NATURAL_INC_2017... 2.44%
R_NATURAL_INC_2016... 2.44%
R_NATURAL_INC_2015... 2.44%
R_NATURAL_INC_2014... 2.44%
R_NATURAL_INC_2013... 2.44%
R_NATURAL_INC_2012... 2.44%
R_death_2019... 2.44%
R_death_2018... 2.44%
R_death_2017... 2.44%
R_death_2016... 2.44%
R_death_2015... 2.44%
R_death_2013... 2.44%
R_NATURAL_INC_2019... 2.44%
R_death_2012... 2.44%
R_death_2011... 2.44%
R_birth_2019... 2.44%
R_birth_2018... 2.44%
R_birth_2017... 2.44%
R_birth_2016... 2.44%
R_birth_2015... 2.44%
R_birth_2014... 2.44%
R_birth_2013... 2.44%
R_birth_2012... 2.44%
R_birth_2011... 2.44%
R_NATURAL_INC_2018... 2.44%
R_NATURAL_INC_2011... 2.44%
R_INTERNATIONAL_MIG_2011... 2.44%
R_DOMESTIC_MIG_2015... 2.44%
R_NET_MIG_2018... 2.44%
R_NET_MIG_2017... 2.44%
R_NET_MIG_2016... 2.44%
R_INTERNATIONAL_MIG_2012... 2.44%
R_NET_MIG_2014... 2.44%
R_NET_MIG_2013... 2.44%
R_NET_MIG_2012... 2.44%
R_NET_MIG_2011... 2.44%
R_DOMESTIC_MIG_2019... 2.44%
R_DOMESTIC_MIG_2018... 2.44%
R_DOMESTIC_MIG_2017... 2.44%
R_DOMESTIC_MIG_2016... 2.44%
R_NET_MIG_2015... 2.44%
R_DOMESTIC_MIG_2014... 2.44%
R_INTERNATIONAL_MIG_2017... 2.44%
R_DOMESTIC_MIG_2013... 2.44%
R_INTERNATIONAL_MIG_2013... 2.44%
R_INTERNATIONAL_MIG_2015... 2.44%
R_INTERNATIONAL_MIG_2016... 2.44%
R_INTERNATIONAL_MIG_2014... 2.44%
R_INTERNATIONAL_MIG_2018... 2.44%
R_INTERNATIONAL_MIG_2019... 2.44%
R_DOMESTIC_MIG_2011... 2.44%
R_DOMESTIC_MIG_2012... 2.44%
RESIDUAL_2013... 2.41%
GQ_ESTIMATES_2010... 2.41%
RESIDUAL_2014... 2.41%
RESIDUAL_2015... 2.41%
RESIDUAL_2016... 2.41%
RESIDUAL_2017... 2.41%
RESIDUAL_2018... 2.41%
RESIDUAL_2019... 2.41%
GQ_ESTIMATES_BASE_2010... 2.41%
GQ_ESTIMATES_2016... 2.41%
GQ_ESTIMATES_2011... 2.41%
GQ_ESTIMATES_2012... 2.41%
GQ_ESTIMATES_2013... 2.41%
GQ_ESTIMATES_2014... 2.41%
GQ_ESTIMATES_2015... 2.41%
GQ_ESTIMATES_2017... 2.41%
GQ_ESTIMATES_2018... 2.41%
GQ_ESTIMATES_2019... 2.41%
RESIDUAL_2011... 2.41%
RESIDUAL_2012... 2.41%
RESIDUAL_2010... 2.41%
NATURAL_INC_2013... 2.41%
Deaths_2015... 2.41%
Births_2019... 2.41%
Deaths_2010... 2.41%
Deaths_2011... 2.41%
Deaths_2012... 2.41%
Deaths_2013... 2.41%
Deaths_2014... 2.41%
Deaths_2016... 2.41%
Births_2017... 2.41%
Deaths_2017... 2.41%
Deaths_2018... 2.41%
Deaths_2019... 2.41%
NATURAL_INC_2010... 2.41%
NATURAL_INC_2011... 2.41%
NATURAL_INC_2012... 2.41%
Births_2018... 2.41%
Births_2016... 2.41%
NATURAL_INC_2014... 2.41%
N_POP_CHG_2017... 2.41%
N_POP_CHG_2011... 2.41%
N_POP_CHG_2012... 2.41%
N_POP_CHG_2013... 2.41%
N_POP_CHG_2014... 2.41%
N_POP_CHG_2015... 2.41%
N_POP_CHG_2016... 2.41%
N_POP_CHG_2018... 2.41%
Births_2015... 2.41%
N_POP_CHG_2019... 2.41%
Births_2010... 2.41%
Births_2011... 2.41%
Births_2012... 2.41%
Births_2013... 2.41%
Births_2014... 2.41%
NET_MIG_2019... 2.41%
NATURAL_INC_2015... 2.41%
DOMESTIC_MIG_2012... 2.41%
NET_MIG_2011... 2.41%
DOMESTIC_MIG_2015... 2.41%
DOMESTIC_MIG_2016... 2.41%
DOMESTIC_MIG_2017... 2.41%
DOMESTIC_MIG_2018... 2.41%
DOMESTIC_MIG_2019... 2.41%
NET_MIG_2010... 2.41%
NET_MIG_2012... 2.41%
DOMESTIC_MIG_2013... 2.41%
NET_MIG_2013... 2.41%
NET_MIG_2014... 2.41%
NET_MIG_2015... 2.41%
NET_MIG_2016... 2.41%
NET_MIG_2017... 2.41%
NET_MIG_2018... 2.41%
DOMESTIC_MIG_2014... 2.41%
N_POP_CHG_2010... 2.41%
NATURAL_INC_2016... 2.41%
INTERNATIONAL_MIG_2013... 2.41%
NATURAL_INC_2017... 2.41%
NATURAL_INC_2018... 2.41%
NATURAL_INC_2019... 2.41%
INTERNATIONAL_MIG_2010... 2.41%
INTERNATIONAL_MIG_2011... 2.41%
INTERNATIONAL_MIG_2012... 2.41%
INTERNATIONAL_MIG_2014... 2.41%
DOMESTIC_MIG_2011... 2.41%
INTERNATIONAL_MIG_2015... 2.41%
INTERNATIONAL_MIG_2016... 2.41%
INTERNATIONAL_MIG_2017... 2.41%
INTERNATIONAL_MIG_2018... 2.41%
INTERNATIONAL_MIG_2019... 2.41%
DOMESTIC_MIG_2010... 2.41%
Urban_Influence_Code_2003... 1.77%
Rural-urban_Continuum Code_2003... 1.77%
Urban_Influence_Code_2013... 1.62%
Rural-urban_Continuum Code_2013... 1.62%

FIPStxt,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,...,R_DOMESTIC_MIG_2019,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,US,United States,NaN,NaN,NaN,NaN,NaN,308745538,308758105,309321666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Alabama,NaN,NaN,NaN,NaN,NaN,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
2,AL,Autauga County,2,2,2,2,0,54571,54597,54773,...,4.84731,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
3,AL,Baldwin County,4,3,5,2,5,182265,182265,183112,...,24.017829,16.64187,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
4,AL,Barbour County,6,6,6,6,3,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664

======== Check NAN

========== File name Education.xls

Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2019
=== Check NAN
... nb of columns with NAN 44 out of 46
Less than a high school diploma, 1970... 2.95%
High school diploma only, 1970... 2.95%
Some college (1-3 years), 1970... 2.95%
Four years of college or higher, 1970... 2.95%
Percent of adults with less than a high school diploma, 1970... 2.95%
Percent of adults with a high school diploma only, 1970... 2.95%
Percent of adults completing some college (1-3 years), 1970... 2.95%
Percent of adults completing four years of college or higher, 1970... 2.95%
2003 Rural-urban Continuum Code... 1.89%
2013 Rural-urban Continuum Code... 1.89%
2013 Urban Influence Code... 1.89%
2003 Urban Influence Code... 1.89%
Percent of adults with less than a high school diploma, 1980... 0.49%
Percent of adults completing four years of college or higher, 1980... 0.49%
Percent of adults completing some college (1-3 years), 1980... 0.49%
Percent of adults with a high school diploma only, 1980... 0.49%
Less than a high school diploma, 1980... 0.49%
Four years of college or higher, 1980... 0.49%
Some college (1-3 years), 1980... 0.49%
High school diploma only, 1980... 0.49%
Percent of adults completing some college or associate's degree, 1990... 0.40%
Percent of adults with a bachelor's degree or higher, 1990... 0.37%
Percent of adults with less than a high school diploma, 1990... 0.37%
Percent of adults with a high school diploma only, 1990... 0.37%
Some college or associate's degree, 1990... 0.37%
Bachelor's degree or higher, 1990... 0.37%
Less than a high school diploma, 1990... 0.37%
High school diploma only, 1990... 0.37%
Percent of adults with less than a high school diploma, 2000... 0.34%
Percent of adults with a bachelor's degree or higher, 2000... 0.34%
Percent of adults with a high school diploma only, 2000... 0.34%
Percent of adults completing some college or associate's degree, 2000... 0.34%
Bachelor's degree or higher, 2000... 0.34%
Some college or associate's degree, 2000... 0.34%
High school diploma only, 2000... 0.34%
Less than a high school diploma, 2000... 0.34%
Less than a high school diploma, 2015-19... 0.30%
High school diploma only, 2015-19... 0.30%
Some college or associate's degree, 2015-19... 0.30%
Bachelor's degree or higher, 2015-19... 0.30%
Percent of adults with less than a high school diploma, 2015-19... 0.30%
Percent of adults with a high school diploma only, 2015-19... 0.30%
Percent of adults completing some college or associate's degree, 2015-19... 0.30%
Percent of adults with a bachelor's degree or higher, 2015-19... 0.30%

FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,US,United States,NaN,NaN,NaN,NaN,52373312,34158051,11650730,11717266,...,27.4,24.4,26472261,59472748,63756905,70920162,11.998918,26.956844,28.898697,32.145542
1,AL,Alabama,NaN,NaN,NaN,NaN,1062306,468269,136287,141936,...,25.9,19,458922,1022839,993344,845772,13.819302,30.800268,29.912098,25.468332
2,AL,Autauga County,2,2,2,2,6611,3757,933,767,...,26.9,18,4291,12551,10596,9929,11.483395,33.588459,28.356571,26.571573
3,AL,Baldwin County,4,5,3,2,18726,8426,2334,2038,...,29.3,23.1,13893,41797,47274,48148,9.193843,27.659616,31.284081,31.862459
4,AL,Barbour County,6,6,6,6,8120,2242,581,861,...,21.3,10.9,4812,6396,4676,2080,26.786907,35.604542,26.029837,11.578713

======== Check NAN

========== File name PovertyEstimates.xls

Poverty estimates for the U.S., States, and counties, 2019
=== Check NAN
... nb of columns with NAN 10 out of 33
POV04_2019... 98.37%
CI90LB04_2019... 98.37%
CI90UB04_2019... 98.37%
PCTPOV04_2019... 98.37%
CI90LB04P_2019... 98.37%
CI90UB04P_2019... 98.37%
Rural-urban_Continuum_Code_2003... 1.79%
Urban_Influence_Code_2003... 1.79%
Rural-urban_Continuum_Code_2013... 1.63%
Urban_Influence_Code_2013... 1.63%

FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,US,United States,NaN,NaN,NaN,NaN,39490096,39248096,39732096,12.3,...,16,65712,65594,65830,3457689,3405854,3509524,18.2,17.9,18.5
1,AL,Alabama,NaN,NaN,NaN,NaN,747478,730491,764465,15.6,...,21.6,51771,51179,52363,69236,65296,73176,24.2,22.8,25.6
2,AL,Autauga County,2,2,2,2,6723,5517,7929,12.1,...,19.4,58233,52517,63949,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Baldwin County,4,5,3,2,22360,18541,26179,10.1,...,17.2,59871,54593,65149,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Barbour County,6,6,6,6,5909,4787,7031,27.1,...,49,35972,31822,40122,NaN,NaN,NaN,NaN,NaN,NaN

======== Check NAN

========== File name US_County_Level_Presidential_Results_08-16.csv

,fips_code,county,total_2008,dem_2008,gop_2008,oth_2008,total_2012,dem_2012,gop_2012,oth_2012,total_2016,dem_2016,gop_2016,oth_2016
0,26041,Delta County,19064,9974,8763,327,18043,8330,9533,180,18467,6431,11112,924
1,48295,Lipscomb County,1256,155,1093,8,1168,119,1044,5,1322,135,1159,28
2,1127,Walker County,28652,7420,20722,510,28497,6551,21633,313,29243,4486,24208,549
3,48389,Reeves County,3077,1606,1445,26,2867,1649,1185,33,3184,1659,1417,108
4,56017,Hot Springs County,2546,619,1834,93,2495,523,1894,78,2535,400,1939,196

Index(['fips_code', 'county', 'total_2008', 'dem_2008', 'gop_2008', 'oth_2008',
       'total_2012', 'dem_2012', 'gop_2012', 'oth_2012', 'total_2016',
       'dem_2016', 'gop_2016', 'oth_2016'],
      dtype='object')
=== Check NAN

========== File name 2020_US_County_Level_Presidential_Results.csv

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,1001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,1003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,1005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,1007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,1009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022

Index(['state_name', 'county_fips', 'county_name', 'votes_gop', 'votes_dem',
       'total_votes', 'diff', 'per_gop', 'per_dem', 'per_point_diff'],
      dtype='object')
=== Check NAN

========== File name Unemployment.xls

Unemployment and median household income for the U.S., States, and counties, 2000-19
=== Check NAN
... nb of columns with NAN 85 out of 87
Med_HH_Income_Percent_of_State_Total_2019... 2.53%
Median_Household_Income_2019... 2.50%
Urban_influence_code_2013... 1.71%
Rural_urban_continuum_code_2013... 1.71%
Metro_2013... 1.62%
Unemployment_rate_2005... 0.37%
Unemployed_2005... 0.37%
Employed_2005... 0.37%
Civilian_labor_force_2005... 0.37%
Employed_2006... 0.37%
Unemployed_2006... 0.37%
Unemployment_rate_2006... 0.37%
Civilian_labor_force_2006... 0.37%
Unemployed_2007... 0.15%
Civilian_labor_force_2007... 0.15%
Employed_2007... 0.15%
Employed_2000... 0.15%
Unemployment_rate_2007... 0.15%
Employed_2008... 0.15%
Unemployed_2008... 0.15%
Unemployment_rate_2008... 0.15%
Civilian_labor_force_2009... 0.15%
Employed_2009... 0.15%
Unemployed_2009... 0.15%
Civilian_labor_force_2000... 0.15%
Unemployed_2000... 0.15%
Civilian_labor_force_2008... 0.15%
Unemployment_rate_2009... 0.15%
Unemployment_rate_2004... 0.15%
Unemployed_2002... 0.15%
Unemployed_2004... 0.15%
Civilian_labor_force_2001... 0.15%
Unemployment_rate_2000... 0.15%
Employed_2001... 0.15%
Unemployed_2001... 0.15%
Civilian_labor_force_2002... 0.15%
Employed_2002... 0.15%
Unemployment_rate_2001... 0.15%
Unemployment_rate_2002... 0.15%
Civilian_labor_force_2003... 0.15%
Employed_2003... 0.15%
Unemployed_2003... 0.15%
Unemployment_rate_2003... 0.15%
Civilian_labor_force_2004... 0.15%
Employed_2004... 0.15%
Unemployed_2017... 0.09%
Unemployment_rate_2015... 0.09%
Civilian_labor_force_2016... 0.09%
Employed_2016... 0.09%
Unemployed_2016... 0.09%
Unemployment_rate_2016... 0.09%
Civilian_labor_force_2017... 0.09%
Employed_2017... 0.09%
Unemployed_2019... 0.09%
Unemployment_rate_2017... 0.09%
Civilian_labor_force_2018... 0.09%
Employed_2018... 0.09%
Unemployed_2018... 0.09%
Unemployment_rate_2018... 0.09%
Civilian_labor_force_2019... 0.09%
Employed_2019... 0.09%
Employed_2015... 0.09%
Unemployment_rate_2019... 0.09%
Unemployed_2015... 0.09%
Employed_2013... 0.09%
Civilian_labor_force_2015... 0.09%
Unemployment_rate_2014... 0.09%
Civilian_labor_force_2010... 0.09%
Unemployed_2010... 0.09%
Unemployment_rate_2010... 0.09%
Civilian_labor_force_2011... 0.09%
Employed_2011... 0.09%
Unemployed_2011... 0.09%
Unemployment_rate_2011... 0.09%
Civilian_labor_force_2012... 0.09%
Employed_2012... 0.09%
Unemployed_2012... 0.09%
Unemployment_rate_2012... 0.09%
Civilian_labor_force_2013... 0.09%
Unemployed_2013... 0.09%
Unemployment_rate_2013... 0.09%
Civilian_labor_force_2014... 0.09%
Employed_2014... 0.09%
Unemployed_2014... 0.09%
Employed_2010... 0.09%

fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,US,United States,NaN,NaN,NaN,142601667,136904680,5696987,3.995035,143786778,...,161389026,155102319,6286707,3.895375,163100055,157115247,5984808,3.669409,65712,NaN
1,AL,Alabama,NaN,NaN,NaN,2133223,2035594,97629,4.6,2115401,...,2216627,2130845,85782,3.9,2241747,2174483,67264,3,51771,100
2,AL,"Autauga County, AL",2,2,1,21720,20846,874,4,21955,...,26196,25261,935,3.6,26172,25458,714,2.7,58233,112.481888
3,AL,"Baldwin County, AL",3,2,1,69533,66971,2562,3.7,69161,...,95233,91809,3424,3.6,97328,94675,2653,2.7,59871,115.645828
4,AL,"Barbour County, AL",6,6,0,11373,10748,625,5.5,11250,...,8414,7987,427,5.1,8537,8213,324,3.8,35972,69.482918

======== Check NAN

In [70]:
input_y = "2020_US_County_Level_Presidential_Results.csv"

tmp = pd.read_csv(dir_path + input_y)
tmp.columns

Index(['state_name', 'county_fips', 'county_name', 'votes_gop', 'votes_dem',
       'total_votes', 'diff', 'per_gop', 'per_dem', 'per_point_diff'],
      dtype='object')

In [72]:
df_target = tmp[["state_name", "county_fips", "county_name"]]
df_target["target"] = np.where(tmp["votes_gop"] > tmp["votes_dem"], 1, 0)

/tmp/ipykernel_606/3964305670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target["target"] = np.where(tmp["votes_gop"] > tmp["votes_dem"], 1, 0)

In [73]:
df_target.head()

  state_name  county_fips     county_name  target
0    Alabama         1001  Autauga County       1
1    Alabama         1003  Baldwin County       1
2    Alabama         1005  Barbour County       1
3    Alabama         1007     Bibb County       1
4    Alabama         1009   Blount County       1

In [91]:
tmp.head()
tmp[tmp.duplicated(subset=["state_name", "county_fips", "county_name"], keep=False)]

Empty DataFrame
Columns: [state_name, county_fips, county_name, votes_gop, votes_dem, total_votes, diff, per_gop, per_dem, per_point_diff]
Index: []